.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkImage--Facebook,.socialNetworkImage--Instagram,.socialNetworkImage--Twitter,.socialNetworkImage--Youtube {
  background-color: #ffffff
}
