.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.socialNetworkImage--facebook,.socialNetworkImage--instagram,.socialNetworkImage--twitter,.socialNetworkImage--youtube {
  background-color: white;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  margin-left: 188px;
}
